{
    "branch": "master",
    "plugins": [
        "@semantic-release/commit-analyzer",
        "@semantic-release/release-notes-generator",
        [
            "@semantic-release/npm",
            {
                "npmPublish": false
            }
        ],
        [
            "@semantic-release/changelog",
            {
                "changelogFile": "CHANGELOG.md"
            }
        ],
        [
            "@semantic-release/git",
            {
                "assets": [
                    "package.json",
                    "CHANGELOG.md"
                ],
                "message": "chore(release): ${nextRelease.version} [skip ci]\n\n${nextRelease.notes}"
            }
        ],
        [
            "@semantic-release/github",
            {
                "assets": [
                    {
                        "path": "dist/README.md"
                    },
                    {
                        "path": "dist/CHANGELOG.md"
                    },
                    {
                        "path": "dist/LICENSE"
                    },
                    {
                        "path": "dist/*.exe"
                    },
                    {
                        "path": "dist/*.json"
                    },
                    {
                        "path": "dist/resources/templates/consolidated-report.html"
                    }
                ],
                "releasedLabels": [
                    "released"
                ],
                "successComment": ":information_source: **This ${issue.pull_request ? 'pull request' : 'issue'} has been fixed in [Release v${nextRelease.version}](${releases.filter(release => /github.com/i.test(release.url))[0].url})**"
            }
        ]
    ]
}
